vendor
example/localization/storage.json
example/localization/de_DE-main-client.ini
example/localization/de_DE-main-server.ini
example/client-libraries/locale-de.js
example/client-libraries/md5.min.js
example/client-libraries/translator.js
example/client-libraries/locale-fr.js
example/localization/fr_FR-main-client.ini
example/localization/fr_FR-main-server.ini
.phpunit.result.cache
tests/storage/*.js
localization/storage.json
example/localization/*.ini
tests/storage/cachekey.txt
docs/phpstan/output.txt
tests/storage/trywrite.ini
.idea/deployment.xml
.idea/modules.xml
.idea/php.xml
.idea/phpunit.xml
.idea/vcs.xml
example/client-libraries/cachekey.txt
.idea/php-test-framework.xml
version.txt
tests/storage/trywrite.ini.hash
tests/cache/*.php
cache/*.php
tests/phpstan/result.txt
