body {
padding-top: 5rem;
}

H1{
margin-bottom:2rem;
}

TD.align-center,
TH.align-center{
text-align:center;
}

TR.string-entry{
cursor:pointer;
}

TR.string-form{
display:none;
}

.native-text{
color:#888;
font-style:italic;
}

.nav-item .btn-sm{
margin-top:5px;
margin-left:20px;
}


.files-list{
font-size:90%;
}

.files-list > P{
margin-bottom:6px;
}

.files-list UL{
list-style:none;
margin:0;
padding:0;
}

.files-list LI{
margin:0;
padding:0 0 13px 0;
}

.files-list .files-scroller{
max-height:200px;
overflow:auto;
}
